.general {
    padding: 10px 15px;
    boder: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

.primary {
    background-color: #57B93E;
}

.secondary {
    background-color: #39ACDC;
}

.danger {
    background-color: #EC3646;
}

